/* ----------------------------------------------------------------------------------------------
custom : css
---------------------------------------------------------------------------------------------- */
@media (max-width: 1600px){}

/* ----------------------------------------------------------------------------------------------
xl : css
---------------------------------------------------------------------------------------------- */
@media (max-width: 1200px){}

/* ----------------------------------------------------------------------------------------------
lg : css
---------------------------------------------------------------------------------------------- */
@media (max-width: 992px){}

/* ----------------------------------------------------------------------------------------------
md : css
---------------------------------------------------------------------------------------------- */
@media (max-width: 768px){}

/* ----------------------------------------------------------------------------------------------
sm : css
---------------------------------------------------------------------------------------------- */
@media (max-width: 576px){}



/* ----------------------------------------------------------------------------------------------
custom : css
---------------------------------------------------------------------------------------------- */
/* @media (max-width: 575px){} */

/* ----------------------------------------------------------------------------------------------
sm : css
---------------------------------------------------------------------------------------------- */
/* @media (min-width: 576px){} */

/* ----------------------------------------------------------------------------------------------
md : css
---------------------------------------------------------------------------------------------- */
/* @media (min-width: 768px){} */

/* ----------------------------------------------------------------------------------------------
lg : css
---------------------------------------------------------------------------------------------- */
/* @media (min-width: 992px){} */

/* ----------------------------------------------------------------------------------------------
xl : css
---------------------------------------------------------------------------------------------- */
/* @media (min-width: 1200px){} */


